<template>
    <div class="cart">
        <div v-if="$store.state.cart.length > 0">
            <div v-for="item in $store.state.cart"  :key="item.id">  {{ item.item }} x {{ item.quantity }} - ${{ item.totalPrice }}  <span class="delete_prod" @click.prevent="removeFromCart(item)"> x </span></div><br>
            <a class="navbar-item" href=""> Итого: ${{ totalPrice }} </a><br>
        </div>
        <div v-else>
            <a> Корзина пуста  </a>
        </div>

        <div class="button">
            <a href="/"><button>BACK</button></a>    
        </div>
    </div>
</template>

<script>
export default {
    data: function(){
        return{
           productsFromCart:[], 
        }
    },
    mounted: function() {
        this.productsFromCart = this.$store.getters.getCart;
            console.log(this.productsFromCart);
        },        
    computed: {
        totalPrice() {
        let total = 0;

        for (let item of this.$store.state.cart) {
            total += item.totalPrice;
        }

        return total.toFixed(2);
        }    
    },
    methods: {
    removeFromCart(item) {
        this.$store.commit('removeFromCart', item);
        this.$store.commit('saveCart');
    }
}
}
</script>

<style scoped>
    .delete_prod{
        color: rgb(124, 41, 41);
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }
    .delete_prod:hover{
        cursor: pointer;
    }
    .cart{
        padding: 20px 10px;
        width: 1300px;
        margin: 0 auto;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09);
    }
    .button{
        position: absolute;
        top: 30px;
        right: 20px;
    }
    .button button{
        border: 0;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        background: rgb(255, 139, 139);
        color: #fff;
    }
    .button button:hover{
        cursor: pointer;
    }
</style>
