<template>
    <div class="products">
        <div class="header">
            <form class="searchbar">
                <input placeholder="Пошук" v-model="search">
                <input type="submit"  class="btn">
            </form>
            <router-link class="cart_but" v-bind:to="'/cart/'" >Go to cart</router-link>
        </div>
        <div class="product" v-for="(item) in filteredItems" v-bind:key="item.id">
            <div class="product-image">
                <img v-bind:src="item.src">
            </div>
            <div>
                <h4 class="product-title">
                    <router-link v-bind:to="'/product/' + item.id">
                        {{ item.item }}
                    </router-link>
                </h4>
                <label>{{item.price}}</label>
                <button class="btn" v-on:click="addToCart(item)">Add to cart</button>  
            </div>
        </div>
    </div>
</template>
<script>
    import products from '../data/products.js'
    import Vuex from 'vuex';

    export default {
        data: function () {
            return {
                items: [],
                search: '',
                searchResult: []
            };
        },
        mounted: function(){
            this.items = products;
        },
        computed: {
            filteredItems: function() {
                console.log(this);
                if (!this.search) {
                    return this.items;
                }
                return this.items.filter(element => {
                    return element.item.toUpperCase().includes(this.search.toUpperCase());
                });
            },
        },
        methods:{
            addToCart(item) {
                this.$store.commit('addToCart', item);
                this.$store.commit('saveCart');
            }
        }
    }

</script>

<style scoped>
.products{
    width: 1300px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart_but{
    width: 100px;
    height: 30px;
    text-decoration: none;
    color: #fff;
    background: rgb(255, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
</style>
